.nav {
  grid-area: nav;
  background-color: #222226;
  padding: 20px;
}

.item a {
  color: #777777;
  text-decoration: none;
  font-family: "Roboto Regular";
  font-size: 13px;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
}

.item a:hover {
  background-color: #333336;
}

.item a.active {
  color: white;
}
